<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>请允许APP获取您的位置来更新天气</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>请允许APP获取您的位置来更新天气</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>定位功能需要知道您的位置，并需要您允许。</string>
	<key>NSLocationUsageDescription</key>
	<string>定位功能需要知道您的位置，并需要您允许。</string>
</dict>
</plist>
